<?xml version="1.0" encoding="utf-8"?>
<?include vars.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="directory_background" Directory="INSTALLFOLDER">
            <Component Id="cmp27795E58DFD35BBBC5DCB668A51ED21A" Guid="{72BCD10B-96BA-4FA8-AE95-C3DD65B797E3}" KeyPath="yes">
                <RegistryKey Key="Directory\Background\shell\cmd-open" Root="HKCR">
                    <RegistryValue Value="@shell32.dll,-8506" Type="string" />
                    <RegistryValue Name="Icon" Value="[SystemFolder]cmd.exe" Type="string" />
                    <RegistryValue Name="Extended" Value="" Type="string" />
                    <RegistryValue Name="NoWorkingDirectory" Value="" Type="string" />
                </RegistryKey>
            </Component>
            <Component Id="cmp5FFD20C5DFA5FEB24C0F494EA3701CAC" Guid="{B3D65C2A-9C7A-4159-8A77-719B0A59ADAC}" KeyPath="yes">
                <RegistryKey Key="Directory\Background\shell\cmd-open\command" Root="HKCR">
                    <RegistryValue Value='$(var.cmd)' Type="string" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>