<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="drive_shell" Directory="INSTALLFOLDER">
            <Component Id="cmp1BF1B27B59EB021B40DFD1D171BE0CAB" Guid="{75DD6609-E306-4F1F-8E58-47CB6D39CC08}" KeyPath="yes">
                <RegistryKey Key="Drive\shell\cmd-open" Root="HKCR">
                    <RegistryValue Value="@shell32.dll,-8506" Type="string" />
                    <RegistryValue Name="Icon" Value="[SystemFolder]cmd.exe" Type="string" />
                    <RegistryValue Name="Extended" Value="" Type="string" />
                    <RegistryValue Name="NoWorkingDirectory" Value="" Type="string" />
                </RegistryKey>
            </Component>
            <Component Id="cmp4CB4A0D370F2C5B607C47D14B35A1D82" Guid="{6151ADCF-AD04-4C74-B6D6-C3DE82CC9D86}" KeyPath="yes">
                <RegistryKey Key="Drive\shell\cmd-open\command" Root="HKCR">
                    <RegistryValue Value='cmd.exe /s /k pushd "%V" &amp; title Command Prompt' Type="string" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>